/*
 * Old Hunze site style sheet (www.hunze.nl/oud)
 */

.basis {
	text-decoration: none;
}

.form {
	text-decoration: none;
	background-color: #D6DFE9; /*lichtblauw*/
}

.update {
	font-size: 10px;
	color: #FF0000; /*red*/
	
}

body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	color: #000;

}
#header {
	background-image: url(../picture_library/background/blokje.gif);
}


#content {
	width: auto;
	min-width: 120px;
	position: relative;
	background-color: #FFF;
	padding: 10px;
	margin-top: 0;
	margin-right: 180px;
	margin-bottom: 20px;
	margin-left: 170px;
	z-index: 3;
	min-height: 560px;  /* was height: 70%; */
	_height: 70%; /* underscore-hack http://www.philledgerwood.com/?p=14 */
	border-top: 1px none #4B6599;
	border-right: 1px solid #4B6599;
	border-bottom: 1px solid #4B6599;
	border-left: 1px solid #4B6599;	
}
	
#subnavright {
	padding: 10px 0 10px 10px;/*test was 10px*/
	position: absolute;
	width: 150px;
	right: 20px;
	top: 145px;
	z-index: 2;
	height: 100%;
}

#subnavleft {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 150px;
	left: 10px;
	top: 145px;	
}

#footer {
	position: absolute;
	left: 180px;
	display: table-footer-group; 
	font-size: 9px;
	font-style: normal;
	color: #000;
}
	
b.subnavlist {
	font-size: 11px;
	font-weight: bold;
	color: #c90;
	line-height: 17px;
}

h1.h1center {
	line-height:17px;
	font-weight: bold;
	color: #c90;
	text-align: center;
	word-spacing: normal;
	letter-spacing: 1pt;
	font-variant: normal;
}	
	
p.smallcaps {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 16px;
	margin-left: 0;
	font-variant: small-caps;
	}
	
ul.subnavlist {
	list-style-type: square;
	color: #4B6599;
	text-decoration: none;
	text-align: left; 
}

li.subnavlist {
	color: #34466B;
	text-decoration: none;
	list-style-type: square;
	list-style-position: outside;
	}
	
li.subnavlist a	{
	color: #4B6599;
	text-decoration: none;
}
	
li.subnavlist a:hover {
	color: #6699FF;
	text-decoration: underline;
}

hr.a {border: none 0; 
	border-top: 1px dashed #c90; /*the border*/
	width: 100%;
	text-align: left;
	height: 1px; /*whatever the total width of the border-top and border-bottom equal*/
}

em {	
	color: #4B6599;
	text-decoration: none;
}
