/*
 * BIS specific style sheet
 */
 
 * {
    -webkit-tap-highlight-color: rgba(#000, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }
 
 body {
     color: #000;
 }
 
 .middle_box {
	position: absolute;
	top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    padding: 25px;
    margin: 25px;
}
 
.mainscreen {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FF99;
	float: left;
}

.scrollTable table {
	border-collapse: collapse;
}

.scrollTable table td, .scrollTable table th {
	margin: 0;
	padding: 2px;
	white-space: nowrap;
	border: solid 1px #ddd;
}

.scrollTable table tr:hover td {
    background: #eee;
}

.schedule-time {
    display: block;
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all .15s ease;
    background: white;
    border: 1px solid #ddd;
    white-space: nowrap;
}

.scrollTable table td div {
    opacity: 0;
    text-align: center;
    transition: all .15s ease;
}

.scrollTable table td .reserved, .scrollTable table .on-shore div {
    opacity: 1;
}

.scrollTable table .on-shore div {
    // color: white !important;
}

.scrollTable table td:hover {
    background: #000 !important;
    cursor: pointer;
    position: relative;
}

.scrollTable table .reserved:hover {
    cursor: default;
}

.scrollTable table td:hover > div, .scrollTable table .on-shore td:hover > div {
    opacity: 1;
    color: white;
}

.scrollTable table td:hover > .schedule-time {
    opacity: 1;    
}

.sunset {
    background: #eee;
}

.sundown {
    background: #ccc;
}

.schedule-header {
    width: 100%;
    float: left;
}

.schedule-title {
    float: left;
}

.sunset-legenda {
    margin: 10px 0 10px 20px;
    float: left;
    line-height: 20px;
    display: block;
}

.sunset-legenda:before {
    width: 10px;
    height: 20px;
    margin-right: 10px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #eee;
    border: 1px solid #ddd;
}

.sundown-legenda {
    margin: 10px 0 10px 20px;
    float: left;
    line-height: 20px;
    display: block;
}

.sundown-legenda:before {
    width: 10px;
    height: 20px;
    margin-right: 10px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #ccc;
    border: 1px solid #ddd;
}

.hibben-row, .hibben-row th, .hibben-row td, .hibben-row div {
    height: 0 !important;
    padding: 0 !important;
}

.containerDiv {
	margin-left: 10px;
	margin-right: 10px;
	width: 600px;
}

#infobalkLinks {
	position: relative;
	float: left;
	padding: 5px;
	width: 300px;
	height: 180px;
	background-color: #FF99;
}

#infobalkMidden {
	position: relative;
	overflow: auto; /* Deze balk heeft als enige een variabele inhoud */
	float: left;
	padding: 5px;
	width: 300px;
	height: 180px;
	background-color: #FF99;
}

#infobalkRechts {
	position: relative;
	float: left;
	padding: 5px;
	width: 200px;
	height: 180px;
	background-color: #FF99;
}

#inschrijving {
	z-index: 2;
	display: none;
	position: absolute;
	background-color: white;
	top: 15%;
    right: 25%;
    left: 25%;
    margin: 25px;
}

#index_overlay {
	display: none;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .60;
}

.italic {
	font-style: italic;
}

.leftrightmargins {
	margin-left: 10px;
	margin-right: 10px;
}

.maindiv {
	margin-left: 10px;
	margin-top: 10px;
}

.topbar {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	overflow: hidden; /* So it will contain the header and closediv */
}

#topbar_mainscreen {
	clear: both;
	padding-left: 10px;
	padding-right: 10px; 
	background-color: #FF99;
	height: 190px;
}

#ScheduleInfoContainer {
    width: 100%;
	clear: left;
	position: relative;
	overflow: hidden;
	overflow-x: auto;
}

#ScheduleInfoContainer:before {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    display: block;
    content: '';
	background: white url('../images/ajax-loader.gif') no-repeat center center;
	position: absolute;
	top: 150px;
	left: 50%;
	z-index: 1;
}

#ScheduleInfoTransition  {
    clear: left;
    transition: opacity .15s ease;
    background: white;
    position: relative;
    z-index: 10;
}

#ScheduleInfo  {
	clear: left;
}

#mainscreen_footer {
	margin-left: 10px;
}

.header {
	margin-left: 10px;
	float: left;
	background-color: #FF99;
	height: 35px;
}

.closediv {
	margin-right: -2px; /* To fix Chrome and possibly IE problem with positioning of close button*/
	border: 0;
	float: right;
	background-color: #FF99;
}

#msgbar {
	display: none;
}

.successmsg {
	clear: both;
	margin: 0;
	padding: 10px;
	background-color: #AAFFAA; /* greenish */
}

.failmsg {
	clear: both;
	margin: 0;
	padding: 10px;
	background-color: #FFC1C1; /* reddish */
}

.bisheader {
	text-align: left;
	word-spacing: normal;
	letter-spacing: 1pt;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
	border: 0;
}

.datalist-legend {
    width: 50%;
    display: block;
    float: left;
}

.last-legend {
    text-align: right;
}

.schedule-filter .form-group {
    // margin-bottom: 0;
}

.schedule-filter {
    background: #efefef;
}

.navbar-inverse {
    background-color: #212974;
}

.navbar-inverse .navbar-nav>li>a {
    color: rgba(255, 255, 255, .8);
}

.btn-primary {
    background-color: #212974;
    border: 0;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #000;
}

.well {
    background-color: #D7EEF3;
    box-shadow: none;
    border: 0;
}

a {
    color: #6E8DA2;
}

a:hover, a:focus {
    color: #32b9e4;
}

.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    background-color: #ddd;
}

.body {
    height: auto !important;
    overflow: visible !important;
}

.headerColumn {
    height: auto !important;
    overflow: visible !important;
}

.dataTables_wrapper {
    margin-bottom: 20px;
}

.dataTables_info {
    margin-bottom: 40px;
    float: right;
    color: #ccc;
}

.dataTables_paginate {
    margin-bottom: 40px;
    float: left;
}

.paginate_button, .paginate_active {
    margin-right: 5px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 4px;
    color: #6E8DA2;
    cursor: pointer;
}

.paginate_button:hover {
    color: #32b9e4;
}

.paginate_active {
    font-weight: bold;
    color: #000;
    cursor: default;
}

.dataTables_length {
    float: left;
}

.dataTables_filter {
    float: right;
}

.prominent-bg {
    background-color: #eee;
}

.header-column-row th {
    border-right: 0 !important;
}

.header-column-row td {
    border-left: 0 !important;
    border-right: 0 !important;
}

.scrollTable table .header-column-row:hover th, .scrollTable table .header-column-row:hover td {
    background: white !important;   
}

.scrollTable table .header-column-row td:hover {
    background: white !important;
}

.corner {
}

.too-dark {
    color: white;
}

.scrollTable table .header-column-row:hover th.too-dark, .scrollTable table .header-column-row:hover td.too-dark {
    color: black;
}

.datepicker-change {
    margin-top: 2px;
    text-align: center;
}

.datepicker-change-button {
    padding: 1px 4px;
    display: inline-block;
    background: none;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
}

.datepicker-change-button:hover {
    background: #ccc;   
}

.reserved-container, on-shore {
    // background: #999;
}

input[type=range] {
    padding: 0 0 5px 0;
}
