/*
 * BIS specific style sheet
 */
 
 .middle_box {
	position: absolute;
	top: 25%;
    right: 25%;
    bottom: 25%;
    left: 25%;
    padding: 25px;
    margin: 25px;
}
 
.mainscreen {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FF99;
	float: left;
}

.scrollTable table {
	border-collapse: collapse;
}

.scrollTable table td, .scrollTable table th {
	vertical-align: top;
	// text-align: center;
	margin: 0;
	padding: 2px;
	white-space: nowrap;
	border: solid 1px #ddd;
}

.scrollTable table tr:hover td {
    background: #eee;
}

.schedule-time {
    display: block;
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 0;
    transition: all .15s ease;
    background: white;
    border: 1px solid #ddd;
    white-space: nowrap;
}

.scrollTable table td div {
    opacity: 0;
    text-align: center;
    transition: all .15s ease;
}

.scrollTable table td .reserved {
    opacity: 1;
}

.scrollTable table td:hover {
    background: #000 !important;
    cursor: pointer;
    position: relative;
}

.scrollTable table td:hover > div {
    opacity: 1;
    color: white;
}

.scrollTable table td:hover > .schedule-time {
    opacity: 1;    
}

.containerDiv {
	margin-left: 10px;
	margin-right: 10px;
	width: 600px;
}

#infobalkLinks {
	position: relative;
	float: left;
	padding: 5px;
	width: 300px;
	height: 180px;
	background-color: #FF99;
}

#infobalkMidden {
	position: relative;
	overflow: auto; /* Deze balk heeft als enige een variabele inhoud */
	float: left;
	padding: 5px;
	width: 300px;
	height: 180px;
	background-color: #FF99;
}

#infobalkRechts {
	position: relative;
	float: left;
	padding: 5px;
	width: 200px;
	height: 180px;
	background-color: #FF99;
}

#inschrijving {
	z-index: 2;
	display: none;
	position: absolute;
	background-color: white;
	top: 15%;
    right: 25%;
    left: 25%;
    margin: 25px;
}

#index_overlay {
	display: none;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-moz-opacity: 0.6;
	opacity: .60;
	filter: alpha(opacity=60);
}

.italic {
	font-style: italic;
}

.leftrightmargins {
	margin-left: 10px;
	margin-right: 10px;
}

.maindiv {
	margin-left: 10px;
	margin-top: 10px;
}

.topbar {
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	overflow: hidden; /* So it will contain the header and closediv */
}

#topbar_mainscreen {
	clear: both;
	padding-left: 10px;
	padding-right: 10px; 
	background-color: #FF99;
	height: 190px;
}

#ScheduleInfoContainer  {
    width: 100%;
    min-height: 200px;
	clear: left;
	background: white url('../images/ajax-loader.gif') no-repeat center center;
	overflow: auto;
}

#ScheduleInfoTransition  {
    clear: left;
    transition: opacity .15s ease;
}

#ScheduleInfo  {
	clear: left;
}

#mainscreen_footer {
	margin-left: 10px;
}

.header {
	margin-left: 10px;
	float: left;
	background-color: #FF99;
	height: 35px;
}

.closediv {
	margin-right: -2px; /* To fix Chrome and possibly IE problem with positioning of close button*/
	border: 0;
	float: right;
	background-color: #FF99;
}

#msgbar {
	display: none;
}

.successmsg {
	clear: both;
	margin: 0;
	padding: 10px;
	background-color: #AAFFAA; /* greenish */
}

.failmsg {
	clear: both;
	margin: 0;
	padding: 10px;
	background-color: #FFC1C1; /* reddish */
}

.bisheader {
	text-align: left;
	word-spacing: normal;
	letter-spacing: 1pt;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
	border: 0;
}

.datalist-legend {
    width: 50%;
    display: block;
    float: left;
}

.last-legend {
    text-align: right;
}
